body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.light-purpal-box {
  background-color: rgb(232, 234, 236);
}
.white-box {
  background-color: white;
}
.box {
  /* linear-gradient(
    90deg,
    rgba(229, 143, 236, 0.589) 0%,
    rgba(201, 5, 194, 0.781) 100%
  ); */
  -webkit-box-shadow: 5px 6px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 6px 14px -1px rgba(0, 0, 0, 0.75);
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
.text-marker {
  color: white; /* Set the text color */
  background-color: black; /* Set the background color */
  width: 500%;
  text-align: center;
}
